---
layout: home
title: Home
permalink: /home/
redirect_from: /
---

<section class="home__banner">
	<div class="section__banner-content">
		<h1 class="section__banner-headline">
			An AI education platform for building games, programming robots &amp; training
			AI models
		</h1>
		<div class="home__banner-buttons">
			<!-- <a class="button--primary"
				href="https://cognimate.me/home"
				target="_blank">Train Models
			</a> -->
			<a class="button--primary"
				href="https://hackidemia.github.io/cognimates-gui/"
				target="_blank">Code &amp; Play
			</a>
			<a class="button--primary"
			href="https://cognimates-copilot.replit.app/"
			target="_blank">Try Scratch Copilot
		</a>
		</div>
	</div>

    <div class="panel panel--images ">
		{% for banner_image in site.data.home.banner_images %}
			<img class="slideshow__img"
				src={{ banner_image[1].photo | relative_url }}
				alt="{{ banner_image[1].name }}" />
		{% endfor %}
	</div>
</section>

<section class="home__ui">
	<h1 class="home__ui-headline">
		Teach the world around you!
	</h1>
	<div class="home__ui-image"></div>
</section>

<section class="home__quotes">
	<h1 class="home__quotes-headline">
		From The Workshops
	</h1>
    <div class="panel--quotes">
		{% for quote in site.data.home.quotes %}
			<div class="home__quote-wrapper">
				<blockquote class="home__quote">
					"{{ quote[1].quote }}"
				</blockquote>
				<div class="home__quote-person">
				 	- {{ quote[1].person }}
				</div>
			</div>
		{% endfor %}
	</div>
</section>

<section class="home__section--workshop-video">
	<div class="js--plyr-video"
		data-plyr-provider="vimeo"
		data-plyr-embed-id="317830089"></div>
</section>

<section class="home__featured">
	<h1 class="home__featured-headline">
		Featured In
	</h1>
	{% include logos.html %}
</section>

<section class="home__highlights">
	<h1 class="home__highlights-headline">
		Recent Highlights
	</h1>

	<div class="home__tweets">
		<div class="home__tweet">
			<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Kids teach AI a little humanity with Cognimates, platform for coding and machine learning for children  <a href="https://twitter.com/hashtag/ai4k12?src=hash&amp;ref_src=twsrc%5Etfw">#ai4k12</a> <a href="https://twitter.com/hashtag/cognimates?src=hash&amp;ref_src=twsrc%5Etfw">#cognimates</a> <a href="https://twitter.com/hashtag/aied?src=hash&amp;ref_src=twsrc%5Etfw">#aied</a> <a href="https://twitter.com/hashtag/kidsai?src=hash&amp;ref_src=twsrc%5Etfw">#kidsai</a> <a href="https://twitter.com/medialab?ref_src=twsrc%5Etfw">@medialab</a> <a href="https://t.co/NAbWVVTs4u">https://t.co/NAbWVVTs4u</a></p>&mdash; Stefania (@Stefania_druga) <a href="https://twitter.com/Stefania_druga/status/1054026529070555137?ref_src=twsrc%5Etfw">October 21, 2018</a></blockquote>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
		<div class="home__tweet">
			<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/ai4k12?src=hash&amp;ref_src=twsrc%5Etfw">#ai4k12</a> Curious to see how 7-12 years old explain AI? Watch this short video  <a href="https://twitter.com/hashtag/cognimates?src=hash&amp;ref_src=twsrc%5Etfw">#cognimates</a> <a href="https://twitter.com/hashtag/aied?src=hash&amp;ref_src=twsrc%5Etfw">#aied</a>  <a href="https://t.co/nGWWT5HoNJ">https://t.co/nGWWT5HoNJ</a></p>&mdash; Stefania (@Stefania_druga) <a href="https://twitter.com/Stefania_druga/status/1054032110221172736?ref_src=twsrc%5Etfw">October 21, 2018</a></blockquote>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</section>
