<footer class="footer">
	<div class="footer__illustration-wrapper">
        <!--
            Rasterized and extracted the photos from SVG
            as linked images, to decrease the file size.

            <img> element blocks the display of SVG linked images.
            We can use <embed> element instead.
            https://stackoverflow.com/questions/41195669/images-in-svg-image-tags-not-showing-up-in-chrome-but-displays-locally -->
        <embed class="footer__illustration-image" src="../images/home/website-banner-svg/website-banner.svg">
    </div>
    <div class="footer__content">
		<div class="footer__project-info">
			<span class="footer__text">Cognimates is a project of Hackidemia LLC</span>
			<span class="footer__text">&copy; 2025 Hackidemia LLC. All rights reserved.</span>
		</div>
		<div class="footer__social-icons">
			<a href="https://twitter.com/cognimates" target="_blank">
				<img src={{ "/images/social-logos/twitter--white.svg"| relative_url }}  class="footer__social-icon">
			</a>
			<a href="https://www.instagram.com/cognimates/" target="_blank">
				<img src={{ "/images/social-logos/instagram--white.svg" | relative_url }} class="footer__social-icon">
			</a>
			<a href="https://vimeo.com/user84996108" target="_blank">
				<img src={{ "/images/social-logos/vimeo--white.svg" | relative_url }} class="footer__social-icon">
			</a>
			<a href="https://www.facebook.com/cognimates/" target="_blank">
				<img src={{ "/images/social-logos/facebook--white.svg" | relative_url }} class="footer__social-icon">
			</a>
            <a href="https://github.com/hackidemia/cognimates-gui/" target="_blank">
                <img src={{ "/images/social-logos/gh.svg" | relative_url }} class="footer__social-icon">
            </a>
		</div>
	</div>
</footer>
