{% assign activity = site.data.guides[page.data_name] %}

{% if activity.nickname %}
  {% assign short_name = activity.nickname %}
{% else %}
  {% assign short_name = activity.name %}
{% endif %}

<div class="main">
  <h1>{{ activity.name }}</h1>
  <p>{{ activity.description }}</p>

  {% if activity.video %}
    <div class="activity__video-container">
      {{ activity.video }}
    </div>
    <!-- <h3>{{ short_name }} at a Glance</h3> -->
  {% endif %}

<!--   {% if activity.photo %}
    <img src= {{ activity.photo | relative_url}} class='guide-photo'/>
  {% endif %} -->
  {% if activity.resources.guide_link %}

  <p>
    <h3>
      <a class="button--primary" href="{{ activity.resources.guide_link }}">
        Download Guide
      </a></h3>
  {% endif %}
  <p>

    <!-- <p>Check out the <a href= {{ activity.project_link | relative_url}}>project page </a> for a tutorial</p> -->
  <p>Have you implemented a {{ short_name }} activity? Have feedback to share? Questions about how to get started? 
    <a class="button--primary" href="mailto:cognimates@gmail.com">Get in touch!</a>
  </p>
</div>

<div class="details">
  <ul class="activity-details">
    {% for item in activity.details %}
      <li><span class="info-label">{{ item[0] | replace:'_',' ' | capitalize }}: </span> {{ item[1] }}</li>
    {% endfor %}
  </ul>
  <ul class="resource-links">
    {% for resource in activity.resources %}
      <li><a href={{ resource.url }}>{{ resource.description }}</a></li>
    {% endfor %}
  </ul>
</div>
