<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="shortcut icon" type="image/png" href="{{ '/images/cognimates_logo.png' | relative_url }}" >
	<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" type="text/css">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,600,700,800' rel='stylesheet' type='text/css'>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>

	<link rel="stylesheet" href="https://cdn.plyr.io/3.5.2/plyr.css" />
	<script src="https://cdn.plyr.io/3.5.2/plyr.js"></script>
	
	<script type="application/javascript" src="{{ '/js/index.js' | relative_url }}" ></script>
</head>
