{% assign current = page.url | downcase | split: '/' %}

<nav class="site-nav">
  <a href={{ '/about' | relative_url }} {% if current[1] == 'about' %} class='active' {% endif %}>About</a>
  <a href={{ '/extensions' | relative_url }} {% if current[1] == 'extensions' %} class='active' {% endif %}>Extensions</a>
  <a href={{ '/projects' | relative_url }} {% if current[1] == 'projects' %} class='active' {% endif %}>Projects</a>
  <a href={{ '/workshops' | relative_url }} {% if current[1] == 'workshops' %} class='active' {% endif %}>Workshops</a>
  <!--<a href={{ '/guides' | relative_url }} {% if current[1] == 'guides' %} class='active' {% endif %}>Learning Guides</a>-->
  <a href={{ '/team' | relative_url }}{% if current[1] == 'team' %} class='active' {% endif %}>Team</a>
  <a href={{ '/research' | relative_url}}{% if current[1] == 'team' %} class='active' {% endif %}>Research</a>
</nav>