{% assign activity = site.data.projects[page.data_name] %}

{% if activity.nickname %}
  {% assign short_name = activity.nickname %}
{% else %}
  {% assign short_name = activity.name %}
{% endif %}
<div class="main">
  <div style="text-align: center;">
          <h2 class="section__headline about__project-headline">
              {{activity.name}}
          </h2>
          <h3 class="section__headline about__project-description">
              {{ activity.description }}
          </h3>
      <a class="about__banner-button"
      href={{ activity.resources.download_link }}
      target="_blank">Download Project
    </a>
    <a class="about__banner-button"
      href='https://hackidemia.github.io/cognimates-gui/'
      target="_blank"> Launch Codelab
    </a>
    <br><br><br><br>

    {% if activity.video %}
    <div class="video-container">
      {{ activity.video }}
    </div>
    {% endif %}

  </div>
</div>

  {% if activity.resources.guide %}
    <h3>Here is a tutorial to get you started:</h3>
    <ul>
      {% for s in activity.resources.guide %}
        <li>
          <p>{{ s.step }}</p>
          {% if s.photo %}
            <img src= {{ s.photo | relative_url}} class='wide-photo'/>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<!-- {% if activity.photos %}
  <div class="community">
    <h3>{{ short_name }} in Action</h3>
    <div class="image-container">
      {% for image in activity.photos %}
        <img src={{ image | relative_url }} alt="{{ short_name }} in action" />
      {% endfor %}
    </div>
  </div>
{% endif %} -->
