{% assign exchange = site.data.team[page.data_name] %}

<div class="main">
  <h2>{{ exchange.name }}</h2>

  {% for p in exchange.paragraphs %}
    <p>{{ p }}</p>
  {% endfor %}

  <p>Cognimates is a project started at <a href="https://www.media.mit.edu/">MIT Media Lab</a>.
    If you are interested in joing our {{ exchange.name }} or have questions about how to get involved 
    <a href="mailto:cognimates@gmail.com">get in touch with us!</a></p>


  {% if exchange.team_photo %}
      <img src={{ exchange.team_photo | relative_url }} alt="The {{ exchange.name }} team members" class='header-photo'/>
  {% endif %}
  <p><i>Left to right: Tammy, Stefania, Eesh, Sarah</i></p>
  
  {% if exchange.team_members %}
    <h3>Team members:</h3>
      <ul>
        {% for t in exchange.team_members %}
          <li><font color = #328EDE>{{ t.name }}</font> 
            <em>{{ t.institution }}</em><br>
            <p>{{ t.bio }}</p></li>
        {% endfor %}
      </ul>
  {% endif %}
  
  <!-- {% if exchange.former_team %}
    <h3>Former team members:</h3>
      <ul>
        {% for t in exchange.former_team %}
          <li><font color = #328EDE>{{ t.name }}</font> 
            <em>{{ t.institution }}</em><br>
            <p>{{ t.bio }}</p></li>
        {% endfor %}
      </ul>
  {% endif %} --> 

</div>