body {
	font-family: $font-family;
	margin: 0;
	padding: 0;

	// fixes the banner extra pixels that display a horizontal scroll bar
	// due to .panel being bigger than 100%
	overflow-x: hidden;

 	h1 {
		margin: 30px 0;
		font-size: 4rem;
		line-height: 1;
		letter-spacing: -1px;
	}
	
	h2 {
		font-size: $extra-large-font;
		font-weight: $heavy-weight;
		color: $main-color;
	}

	h3 {
		font-size: $large-font;
		font-weight: $heavy-weight;
		color: $main-color;
	}

	p {
		margin-top: 0;
		line-height: 1.2rem;
	}

	a {
		color: $main-color;
		text-decoration: none;
		padding-bottom: 2px;
	}

	a:hover {
		// color: $accent-color;
	}

	li {
		padding-bottom: 10px;
	}
}
