.footer {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;

	width: 100%;
	padding: 2rem 0;
    background: #0c656e;

    @include mq('md') {
        min-height: 10rem;
    } 
}

.footer__text {
	color: white;
    white-space: nowrap;
    text-align: center;
    font-size: 1rem;

    @include mq('md') {
        font-size: 1.1rem;
        margin: 0 0.75rem;
        white-space: pre-wrap;
        text-align: left;
    } 
}

.footer__logo-image-link {
    display: block;
    width: 100%;
    text-align: center;

    @include mq('md') {
        text-align: left;
        width: auto;
        display: inline-block;
    } 
}

.footer__logo-image {
    height: 36px;
    margin: 1rem 0;

    @include mq('md') {
        margin: 0;
    }  
}

.footer__social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
	
	border-top: 1px #0e919e solid;
    padding-top: 1rem;
}

.footer__social-icon {
	height: 20px;
    margin: 0 0.5rem;
}

.footer__project-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0 0 0;
    width: 100%;

    @include mq('md') {
        margin: 1rem 0;
        width: auto;
        flex-wrap: nowrap;
    } 
}
