$header--height: 4.25rem;

.header__nav {
    display: flex;
    justify-content: center;
	align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0.5rem;
	background-color: $main-color;

	// so nav selected lines display above the banner image, and video section
	will-change: transform;

	@include mq('md') {
		height: $header--height;
		width: 100%;
		padding: 0;
	}

	@include mq('lg') {
		width: auto;
	}
}

.header__logo-link {
	width: 100%;
    text-align: center;
    margin: 0.1rem 0 0 0;

	@include mq('md') {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    padding: 0.25rem;
		user-select: none;
		text-align: left;
		width: auto;
    	align-self: stretch;
		justify-content: flex-start;
		padding: 0;
	}
}

.header__logo-link:hover {
	border-bottom: 0;
}

.header__logo-image {
	height: 1.7rem;
	@include mq('md') {
		margin: 0 1rem;
	}
}

.header__logo-image:hover {
	opacity: 0.9;
}

.header__nav-item {
    display: inline-block;
    margin: 0.5rem 0.5rem 0.25rem 0.5rem;
	color: white;
	font-family: $font-family;
	font-size: 0.9rem;
	white-space: nowrap;
	text-align-decoration: none;
	font-weight: 400;
	transition: 0.1s all ease-in;
	user-select: none;

	@include mq('md') {
	  	display: flex;
		align-items: center;
		align-self: stretch;
		margin: 0;
		padding: 0 0.75rem;
	}

	@include mq('xl') {
    	font-size: 1rem;
	}
}

.header__nav-item.active {
	font-weight: 400;
	// an underline messes up vertical spacing on mobile, use a slight color change instead
	opacity: 0.9;
	border-bottom: 0;

	@include mq('md') {
		border-bottom: 3px white solid;
	}
}

.header__nav-item:hover {
	// an underline messes up vertical spacing on mobile, use a slight color change instead
	opacity: 0.9;
	text-decoration: none;
	border-bottom: 0;

	@include mq('md') {
		border-bottom: 3px white solid;
	}
}

.header__gh-logo {
	width: 32px;
}
