$header--height: 4rem;

.header {
	background-color: $main-color;
	width: 100vw;
	height: $header--height;

	display: flex;
	justify-content: center;
	align-items: center;
}

.header__logo-link {
	// stretch the height to fill the nav 
	align-self: stretch;

	// use flexbox to vertically center the text
  	display: flex;
	align-items: center;
}

.header__logo-image {
	height: 2.75rem;
	margin: 0 0.75rem 0 1rem;
}

.header__logo-image:hover {
	opacity: 0.9;
}

.header__nav {
	display: flex;
	height: $header--height;
	margin-left: auto;
}

.header__nav-item {
	// stretch the height to fill the nav 
	align-self: stretch;

	// use flexbox to vertically center the text
  	display: flex;
	align-items: center;

	padding: 0 1rem;
	color: white;
	white-space: nowrap;
	text-decoration: none;
	font-family: $font-family;
	font-size: 1.1rem;
	font-weight: 400;
	transition: 0.1s all ease-in;
}

.header__nav-item.active {
	// border bottom, so it falls outside the container
	font-weight: 400;
	box-shadow: 0 4px 0 0 $accent-color; 
}

.header__nav-item.active:hover {
}

.header__nav-item:hover {
	// border bottom, so it falls outside the container
	box-shadow: 0 4px 0 0 $accent-color;
	text-decoration: none;
}




.external-logo-about {
	position: fixed;
	text-align: left;
	bottom: 10px;
	padding-top: 10px;
	margin-top: 10px;
	max-width: 100%;
	font-size: $small-font;
	img {
		height: 1.8em;
		bottom: 0;
		padding: 0 0 0 0;
	}
}
