$font: Roboto, sans-serif;
$extra-large-font: 23px;
$large-font: 17px;
$medium-font: 12px;
$med-sm-font: 12px;
$small-font: 0.8em;
$light-weight: 300;
$medium-weight: 400;
$heavy-weight: 600;
$main-color: #328EDE;
$light-main-color: #ACC5DE;
$light-transparent-main-color: rgba(172, 197, 222, 0.8);
$accent-color: #3acefc;
$gray: #979797;

// Universal default styling
body {
  font: 100% $font;
  font-size: $medium-font;
  font-weight: $medium-weight;
  background-color: #ffffff;
  margin: 0;

  h2 {
    font-size: $extra-large-font;
    font-weight: $heavy-weight;
    color: $main-color;
  }

  h3 {
    font-size: $large-font;
    font-weight: $heavy-weight;
    color: $main-color;
  }

  p {
    margin-top: 0;
    line-height: 1.2em;
  }

  a {
    text-decoration: underline;
    color: $main-color;
  }

  a:hover {
    color: $accent-color;
  }

  li{
    padding-bottom: 10px;
  }

  colored{
    color: $main-color;
  }
}


// Header-specific styling for all layouts
.site-header {
  background-color: white;
}

.site-nav {
  a {
    text-decoration: none;
    color: $main-color;
    font-weight: $heavy-weight;
  }

  a.active {
    color: white;
    background-color: $main-color;
  }

  a:hover {
    color: $main-color;
    background-color: lighten($main-color,35%);
  }
}

// Content component styling for all layouts
.callout {

  h3 {
    margin: 0;
  }

  p {
    margin-bottom: 1em;
  }

  p.no-space {
    margin-bottom: 0;
  }

  .tile {
    background-color: $accent-color;
    padding: 10px;

    a:hover {
      color: white;
    }
  }
}

.details {
  .info-label {
    font-weight: $medium-weight;
  }

  ul.resource-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: .25em 0;
    }
  }
}

.no-heading {
  padding-top: 20px;
}

.activities-headline {
  text-align: center;
}

.external-logo {
  text-align: left;
  position: relative;
  bottom: 10px;
  img {
    height: 1.5em;
    bottom: 0;
    padding: 0 10px 0 0;
  }
}


.tiles {
  list-style: none;

  .tile {
    img {
      transition: .5s ease;
    }

    .overlay {
      opacity: 0;
      color: black;
      font-size: $medium-font;
      font-weight: $medium-weight;
      transition: .5s ease;
    }

    .tile-name {
      background-color: $main-color;
      color: white;
      font-size: $medium-font;
      font-weight: $heavy-weight;
    }
  }

  .tile:hover {
    img {
      opacity: .2;
    }

    .overlay {
      opacity: 1;
    }
  }
}
 
div.video {
  width: 100%;
  height: 130px;
  background-color: $gray;
  text-align: center;
  padding-top: 20px;
}

// Footer-specific styling for all layouts
.site-footer {
  span {
    font-size: $small-font;
  }
}