.research__item {
    padding: 1rem 0 1rem 0;
    border-top: 1px solid #e4e4e4;
    margin-bottom: 2rem;
}

.research__name {
    margin: 1rem 0;
}

.research__image {
    max-width: 500px;
    height: auto;
}
