<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  <style>
    body {
      background-image: url("../images/website-banner.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

  </style>

  <body>
    <main class="page-content" aria-label="Content">

      {% include header.html style='grid' %}

      <div class="grid-wrapper">
        {{ content }}
      </div>

      
      {% include about-footer.html %}
    </main>

  </body>

</html>
